@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "ACCESO DENEGADO";
}

<header class="fondo-acceso-denegado">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p style="color: black">No cuentas con los permisos necesarios para acceder a este recurso. Si crees que se trata de un error, por favor contacta al soporte técnico: <a href="mailto:soporte@clinicanet.com">soporte@clinicanet.com</a>.</p>
</header>



