@model ClinicaNet.Models.Estado

@{
    ViewData["Title"] = "Details";
}

<div class="fondo-interior-app">

    <h1 class="text-shadow">DETALLE DEL ESTADO</h1>
    <hr />

    <div class="estilo-form-interior form-chico">

        <dl class="row">
            <dt class = "col-sm-6">
                @Html.DisplayNameFor(model => model.Descripcion):
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
        </dl>

        <div class="mt-3 d-flex gap-2">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a>
            <a asp-action="Index" class="btn btn-info">Volver al listado</a>
        </div>
    </div>
</div>
